body {
  margin: 0;
  padding: 0;
  display: grid;
  height: 100vh;
  font-family: "Courier New", monospace, Arial, sans-serif;
  font-size: 14px;
  grid-template-rows: 10vh 15vh 1fr 10vh;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "nav" "main" "footer";
}

header {
  font-family: "Amatic SC", cursive;
  font-weight: 500;
  grid-area: header;
  background-color: #121212;
  color: #f5c518;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 1em;
}

nav {
  grid-area: nav;
  background-color: #f5c518;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main {
  grid-area: main;
  background-color: bisque;
}

footer {
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: darksalmon;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__buttons {
  padding-top: 1em;
  padding-right: 1em;
  font-size: 20px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.filter__buttons label {
  line-height: 100%;
}

#movie__field {
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  margin: auto;
}
#movie__field li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1vw;
  margin: auto;
}

.movie__poster {
  width: 300px;
  height: 450px;
}

@media (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    display: grid;
    height: 100vh;
    font-size: 24px;
    grid-template-rows: 10vh 5vh 1fr 10vh;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "main" "footer";
  }

  header {
    font-size: 24px;
  }

  .filter__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    width: 90vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .filter__buttons label {
    padding: auto;
    margin: auto;
  }

  #movie__field {
    list-style: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  #movie__field li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 1vw;
  }
}
/*# sourceMappingURL=style.css.map */